@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@layer base {
    html {
        font-family: 'Nunito', sans-serif;
    }
}

@theme {
    --color-primary: #3251D0;
    --color-secondary: #F5C518;
    --color-navbar: #DDDDDD;
}