@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..900&family=Questrial&display=swap');
@import "tailwindcss";
@layer base {
    html {
        font-family: 'Questrial', Arial, Helvetica, sans-serif;
    }
}

@theme {
    --color-primary: #1B85B2;
    --color-navbar: #15698E;
    --color-section-bg: #22A6DE20;
}


/*3251D0